<div class="container">
  <div class="switch">
    <img class="icon" src="./assets/sun-128.png"><mat-slide-toggle [(ngModel)]="isEnable" (change)="onChangeIsEnable()"></mat-slide-toggle><img class="icon" src="./assets/moon-128.png">
  </div>
  <hr>
  <div>
    <h3>This website</h3>
      <button mat-raised-button color="primary" (click)="onClickAddToExcludeBtn()">Don't Apply Dark</button>
      <button mat-raised-button (click)="onClickRemoveFromExcludeBtn()">Apply Dark</button>
  </div>
  <hr>
  <div>
    <h3>Config</h3>
    <button mat-raised-button color="primary" (click)="onClickExportCfgBtn()">Export</button>
    <button mat-raised-button (click)="onClickImportCfgBtn()">Import</button>
    <input type="file" accept=".json" #fileUpload (change)="onFileInputChange($event)">

    <p *ngIf="showImportSuccess">Import Successfully</p>
    <p *ngIf="showImportFail">Config File Not Support</p>
  </div>
</div>
